{% extends 'base.html.twig' %}

    {% block header %}
        {% include "/nav-bar/nav-bar-mon-profil.html.twig" %} 
    {% endblock %}

    {% block main %}
        <main class="main-productions container">
            <aside>
                <p class="p-2">Informations</p>
                <div>
                    <a href="/mon-profil/{{user.id}}">Coordonnées</a>
                </div>
                <div>
                    <a href="/besoins/{{user.id}}">Besoins</a>
                </div>
                <div>
                    <a href="/productions/{{user.id}}">Productions</a>
                </div>
                <div>
                    <a href="/dechets/{{user.id}}">Déchets</a>
                </div>
            </aside>
        	
        	<article class="article-productions">
                <form class="form-productions" id="productions" action="/productions" method="post">
                <img class="paper-attention-b" src="/assets/img/papier.png">
                    <p class="alerte-info"><strong>*Attention : Au moins un des champs "Besoins, Productions ou Déchets" est obligatoire*</strong></p>
                <img class="p-gauche-b" src="/assets/img/p-gauche.png">
                <img class="p-droite-b" src="/assets/img/p-droite.png">
                     
                <fieldset>
                    <label for="text"><b class="p-monprofil"> Vos productions </b></label>
                    <textarea class="textarea-productions" name="productions" id="text" cols="30" rows="10" placeholder="Penser à séparer chaque production par une virgule">{{user.productions}}</textarea>
                        <div class="div-2-btn">
                            <button class="btn-productions" formaction="/productions/{{user.id}}/{{step}}"><b>Valider</b></button>
                            <button class="btn-productions-suivant" formaction="/productions/{{user.id}}/{{nextStep}}"><b>Valider => Suivant</b></button>
                        </div>
                </fieldset>
                
                    <div class = "error">
                        {% for error in errors %}
                            <span class="erreur">{{error}}</span>
                        {% endfor %}
                    </div> 
                </form>
            </article>
        </main>
    {% endblock %}